.student {
  display: flex;
  gap: 1rem;
}
.student > label {
  display: flex;
  align-items: center;
}

.student-list {
  padding: 0;
}

.student-list > li + li {
  margin-top: 0.5rem;
}

.student-control {
  display: flex;
  align-items: center;
}

.student-image {
  object-fit: cover;
  border: 3px solid black;
  margin: auto 1rem;
}

.student.obtained .student-name {
  text-decoration: line-through;
  color: darkgrey;
}

.filters {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.filters > li:not(:first-child) {
  margin-left: 0.5rem;
}

.filters > li {
  padding: 0.5rem;
}

.filters > li > a.selected {
  padding: 0.5rem;
  border: 1px solid brown;
}

.delete {
  width: 64px;
}

/* custom alert */
.modal-wrapper {
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  width: fit-content;
  height: fit-content;
  padding: 1rem;
}

.modal-control {
  margin-top: 1rem;
  text-align: right;
  display: flex;
  gap: 0.5rem;
  justify-content: end;
}

.hidden {
  display: none;
}
