.student {
  display: flex;
  gap: 1rem;
}
.student > label {
  display: flex;
}

.student-list {
  padding: 0;
}

.student-list > li + li {
  margin-top: 0.5rem;
}

.student.obtained .student-name {
  text-decoration: line-through;
  color: darkgrey;
}

.filters {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.filters > li:not(:first-child) {
  margin-left: 0.5rem;
}

.filters > li {
  padding: 0.5rem;
}

.filters > li > a.selected {
  padding: 0.5rem;
  border: 1px solid brown;
}
